/** basic classes  -------------------------------------------------*/
body {
    font-family: Arial, sans-serif;
}

* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin: 0 auto;
}


/*! Header ===================================================*/
/** header block settings  */
.header {
    z-index: 3;
    width: 100%;
    height: 90px;
    background-color: #000;
    position: fixed;
}

/** header wrapper settings */
.header__inner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;

}

/** header info settings */
.header-logo img {
    width: 80px;
    margin-right: 30px;
}

.header-text {
    color: #fff;
}


/*! Nav ===================================================*/
/** settings for nav block */
.nav {
    position: absolute;
    z-index: 1;
    background-color: gray;
    /* width: 230px; */
    width: 15.5%;
    height: 100%;
    padding: 25px;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    text-align: center;


    box-shadow: 2px 3px 50px black;
    transition: .3s linear;
}

/** settings for nav links */
.nav a{
    font-size: 22px;
    padding: 15px;
    background-color: aqua;
    transition: .3s linear;
}

.nav a:not(first-child) {
    margin-top: 20px;
}

.nav a:last-child {
    margin-bottom: 80px;
}


/** link hover effect  */
.nav a:hover {
    background-color: rgb(255, 106, 0);
}

/** nav block hover effect  */
.nav:hover {
    box-shadow: 2px 3px 30px orange;
}


/*! Main ===================================================*/
/** Main block settings */
.main {
    position: relative;
    z-index: 1;
    padding: 20px;
    top: 90px;
    width: calc(100% - 15.5%);
    float: right;
    height: 100vh;
}

.main__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/** Main block title settings */
.main-title {
    text-align: center;
    font-size: 80px;
    padding-right: 15px;
}

.card {
    width: 250px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: aquamarine;
    padding: 15px;
    border-radius: 15px;
}

/** Card title settings */
.card h4{
    padding-bottom: 12px;
}


/** Cards hover effects */
/*? card-1 hover effect */
.card-1 {
    transition: .3s linear;
}

.card-1:hover {
    background-color: bisque;
}

/*? card-2 hover effect */
.card-2 {
    transition: .3s linear;
}

.card-2:hover {
    background-color:burlywood;
}

/*? card-3 hover effect */
.card-3 {
    transition: .3s linear;
}

.card-3:hover{
    background-color:chocolate;
}



/*! Footer ===================================================*/
/** footer block settings  */
.footer {
    position: relative;
    z-index: 1;
    padding: 20px;
    width: 100%;
    float: right;
    background-color: #000;
    color: #fff;
}

/** footer 1st line settings  */
.contacts-1line {
    display: flex;
    align-items:flex-end;
    justify-content:space-around;
    margin-bottom: 20px;
}

/** footer 1st line left */
.footer-logo {
    text-align: center;
}

.footer-logo img {
    width: 170px;
}

/** footer 1st line right contacts */
.footer-info-contacts {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
}

.footer-info-contacts a{
    margin-right: 10px;
    margin-left: 10px;
    color: #fff;
    transition: .1s linear;
}

.footer-info-contacts a:hover{
    opacity: .5;
}

/** footer dividing line */
.dividing-line {
    width: 830px;
    margin: 0 auto;
}

/** footer 2nd line settings */
.contacts-2line {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

/** social settings  */
.facebook-icon {
    transition: .3s linear;
    margin-right: 10px;
}

.twitter-icon {
    transition: .3s linear;
    margin-right: 10px;
    margin-left: 10px;
}

.instagram-icon {
    transition: .3s linear;
    margin-left: 10px;
}

/** social IMG settings  */
.footer-social img{
    width: 60px;
}

.facebook-icon img {
    width: 40px;
}

.twitter-icon img{
    width: 45px;
}

.instagram-icon img{
    width: 38px;
}

/** social img hover effects  */
.facebook-icon:hover {
    opacity: .5;
}

.twitter-icon:hover{
    opacity: .5;
}

.instagram-icon:hover{
    opacity: .5;
}

/** footer copyright settings  */
.footer-copy {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: .8rem;
}